
<div *ngIf="medikalTurKodu">
    <h2><span jhiTranslate="inventoryApp.medikalTurKodu.detail.title">Medikal Tur Kodu</span> {{medikalTurKodu.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="inventoryApp.medikalTurKodu.deleted">Deleted</span></dt>
        <dd>
            <span>{{medikalTurKodu.deleted}}</span>
        </dd>
        <dt><span jhiTranslate="inventoryApp.medikalTurKodu.version">Version</span></dt>
        <dd>
            <span>{{medikalTurKodu.version}}</span>
        </dd>
        <dt><span jhiTranslate="inventoryApp.medikalTurKodu.kod">Kod</span></dt>
        <dd>
            <span>{{medikalTurKodu.kod}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'medikal-tur-kodu/'+ medikalTurKodu.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
