<div>
    <h2>
        <span jhiTranslate="inventoryApp.urunAltKodu.home.title">Urun Alt Kodus</span>
        <button class="btn btn-primary float-right jh-create-entity create-urun-alt-kodu" [routerLink]="['/', { outlets: { popup: ['urun-alt-kodu-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="inventoryApp.urunAltKodu.home.createLabel">
            Create new Urun Alt Kodu
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="urunAltKodus">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="inventoryApp.urunAltKodu.deleted">Deleted</span></th>
            <th><span jhiTranslate="inventoryApp.urunAltKodu.version">Version</span></th>
            <th><span jhiTranslate="inventoryApp.urunAltKodu.urunAltKoduAdi">Urun Alt Kodu Adi</span></th>
            <th><span jhiTranslate="inventoryApp.urunAltKodu.urunAltKod">Urun Alt Kod</span></th>
            <th><span jhiTranslate="inventoryApp.urunAltKodu.urunKodu">Urun Kodu</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let urunAltKodu of urunAltKodus ;trackBy: trackId">
                <td><a [routerLink]="['../urun-alt-kodu', urunAltKodu.id ]">{{urunAltKodu.id}}</a></td>
                <td>{{urunAltKodu.deleted}}</td>
                <td>{{urunAltKodu.version}}</td>
                <td>{{urunAltKodu.urunAltKoduAdi}}</td>
                <td>{{urunAltKodu.urunAltKod}}</td>
                <td>
                    <div *ngIf="urunAltKodu.urunKodu">
                        <a [routerLink]="['../urun-kodu', urunAltKodu.urunKodu?.id ]" >{{urunAltKodu.urunKodu?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../urun-alt-kodu', urunAltKodu.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'urun-alt-kodu/'+ urunAltKodu.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'urun-alt-kodu/'+ urunAltKodu.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
