
<div *ngIf="finansalBilgileri">
    <h2><span jhiTranslate="inventoryApp.finansalBilgileri.detail.title">Finansal Bilgileri</span> {{finansalBilgileri.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="inventoryApp.finansalBilgileri.deleted">Deleted</span></dt>
        <dd>
            <span>{{finansalBilgileri.deleted}}</span>
        </dd>
        <dt><span jhiTranslate="inventoryApp.finansalBilgileri.version">Version</span></dt>
        <dd>
            <span>{{finansalBilgileri.version}}</span>
        </dd>
        <dt><span jhiTranslate="inventoryApp.finansalBilgileri.yil">Yil</span></dt>
        <dd>
            <span>{{finansalBilgileri.yil | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="inventoryApp.finansalBilgileri.ihracatVarMi">Ihracat Var Mi</span></dt>
        <dd>
            <span>{{finansalBilgileri.ihracatVarMi}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'finansal-bilgileri/'+ finansalBilgileri.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
