<div>
    <h2>
        <span jhiTranslate="inventoryApp.adres.home.title">Adres</span>
        <button class="btn btn-primary float-right jh-create-entity create-adres" [routerLink]="['/', { outlets: { popup: ['adres-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="inventoryApp.adres.home.createLabel">
            Create new Adres
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="adres">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="inventoryApp.adres.deleted">Deleted</span></th>
            <th><span jhiTranslate="inventoryApp.adres.version">Version</span></th>
            <th><span jhiTranslate="inventoryApp.adres.acikAdres">Acik Adres</span></th>
            <th><span jhiTranslate="inventoryApp.adres.il">Il</span></th>
            <th><span jhiTranslate="inventoryApp.adres.ulke">Ulke</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let adres of adres ;trackBy: trackId">
                <td><a [routerLink]="['../adres', adres.id ]">{{adres.id}}</a></td>
                <td>{{adres.deleted}}</td>
                <td>{{adres.version}}</td>
                <td>{{adres.acikAdres}}</td>
                <td>
                    <div *ngIf="adres.il">
                        <a [routerLink]="['../il', adres.il?.id ]" >{{adres.il?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="adres.ulke">
                        <a [routerLink]="['../ulke', adres.ulke?.id ]" >{{adres.ulke?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../adres', adres.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'adres/'+ adres.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'adres/'+ adres.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
