<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProjeBilgisiLabel" jhiTranslate="inventoryApp.projeBilgisi.home.createOrEditLabel">Create or edit a Proje Bilgisi</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!projeBilgisi.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="projeBilgisi.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="inventoryApp.projeBilgisi.deleted" for="field_deleted">Deleted</label>
            <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                [(ngModel)]="projeBilgisi.deleted"  />
            <div [hidden]="!(editForm.controls.deleted?.dirty && editForm.controls.deleted?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.deleted?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="inventoryApp.projeBilgisi.version" for="field_version">Version</label>
            <input type="number" class="form-control" name="version" id="field_version"
                [(ngModel)]="projeBilgisi.version" required />
            <div [hidden]="!(editForm.controls.version?.dirty && editForm.controls.version?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.version?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.version?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="inventoryApp.projeBilgisi.konusu" for="field_konusu">Konusu</label>
            <input type="text" class="form-control" name="konusu" id="field_konusu"
                [(ngModel)]="projeBilgisi.konusu" required />
            <div [hidden]="!(editForm.controls.konusu?.dirty && editForm.controls.konusu?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.konusu?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="inventoryApp.projeBilgisi.firma" for="field_firma">Firma</label>
            <select class="form-control" id="field_firma" name="firma" [(ngModel)]="projeBilgisi.firma" >
                <option [ngValue]="null"></option>
                <option [ngValue]="firmaOption.id === projeBilgisi.firma?.id ? projeBilgisi.firma : firmaOption" *ngFor="let firmaOption of firmas; trackBy: trackFirmaById">{{firmaOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="inventoryApp.projeBilgisi.destekVerenKurum" for="field_destekVerenKurum">Destek Veren Kurum</label>
            <select class="form-control" id="field_destekVerenKurum" name="destekVerenKurum" [(ngModel)]="projeBilgisi.destekVerenKurum">
                <option [ngValue]="null"></option>
                <option [ngValue]="kurumOption.id === projeBilgisi.destekVerenKurum?.id ? projeBilgisi.destekVerenKurum : kurumOption" *ngFor="let kurumOption of destekverenkurums; trackBy: trackKurumById">{{kurumOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
