<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUretimBilgisiLabel" jhiTranslate="inventoryApp.uretimBilgisi.home.createOrEditLabel">Create or edit a Uretim Bilgisi</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!uretimBilgisi.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="uretimBilgisi.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="inventoryApp.uretimBilgisi.deleted" for="field_deleted">Deleted</label>
            <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                [(ngModel)]="uretimBilgisi.deleted"  />
            <div [hidden]="!(editForm.controls.deleted?.dirty && editForm.controls.deleted?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.deleted?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="inventoryApp.uretimBilgisi.version" for="field_version">Version</label>
            <input type="number" class="form-control" name="version" id="field_version"
                [(ngModel)]="uretimBilgisi.version" required />
            <div [hidden]="!(editForm.controls.version?.dirty && editForm.controls.version?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.version?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.version?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="inventoryApp.uretimBilgisi.firmaAciklamasi" for="field_firmaAciklamasi">Firma Aciklamasi</label>
            <input type="text" class="form-control" name="firmaAciklamasi" id="field_firmaAciklamasi"
                [(ngModel)]="uretimBilgisi.firmaAciklamasi"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="inventoryApp.uretimBilgisi.firma" for="field_firma">Firma</label>
            <select class="form-control" id="field_firma" name="firma" [(ngModel)]="uretimBilgisi.firma" >
                <option [ngValue]="null"></option>
                <option [ngValue]="firmaOption.id === uretimBilgisi.firma?.id ? uretimBilgisi.firma : firmaOption" *ngFor="let firmaOption of firmas; trackBy: trackFirmaById">{{firmaOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="inventoryApp.uretimBilgisi.urun" for="field_urun">Urun</label>
            <select class="form-control" id="field_urun" name="urun" [(ngModel)]="uretimBilgisi.urun" >
                <option [ngValue]="null"></option>
                <option [ngValue]="urunOption.id === uretimBilgisi.urun?.id ? uretimBilgisi.urun : urunOption" *ngFor="let urunOption of uruns; trackBy: trackUrunById">{{urunOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
