
<div *ngIf="bolge">
    <h2><span jhiTranslate="inventoryApp.bolge.detail.title">Bolge</span> {{bolge.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="inventoryApp.bolge.deleted">Deleted</span></dt>
        <dd>
            <span>{{bolge.deleted}}</span>
        </dd>
        <dt><span jhiTranslate="inventoryApp.bolge.version">Version</span></dt>
        <dd>
            <span>{{bolge.version}}</span>
        </dd>
        <dt><span jhiTranslate="inventoryApp.bolge.label">Label</span></dt>
        <dd>
            <span>{{bolge.label}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bolge/'+ bolge.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
