
<div *ngIf="ulke">
    <h2><span jhiTranslate="inventoryApp.ulke.detail.title">Ulke</span> {{ulke.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="inventoryApp.ulke.deleted">Deleted</span></dt>
        <dd>
            <span>{{ulke.deleted}}</span>
        </dd>
        <dt><span jhiTranslate="inventoryApp.ulke.version">Version</span></dt>
        <dd>
            <span>{{ulke.version}}</span>
        </dd>
        <dt><span jhiTranslate="inventoryApp.ulke.label">Label</span></dt>
        <dd>
            <span>{{ulke.label}}</span>
        </dd>
        <dt><span jhiTranslate="inventoryApp.ulke.harfKodu">Harf Kodu</span></dt>
        <dd>
            <span>{{ulke.harfKodu}}</span>
        </dd>
        <dt><span jhiTranslate="inventoryApp.ulke.kodu">Kodu</span></dt>
        <dd>
            <span>{{ulke.kodu}}</span>
        </dd>
        <dt><span jhiTranslate="inventoryApp.ulke.englishName">English Name</span></dt>
        <dd>
            <span>{{ulke.englishName}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ulke/'+ ulke.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
