<div>
    <h2>
        <span jhiTranslate="inventoryApp.calisanTipi.home.title">Calisan Tipis</span>
        <button class="btn btn-primary float-right jh-create-entity create-calisan-tipi" [routerLink]="['/', { outlets: { popup: ['calisan-tipi-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="inventoryApp.calisanTipi.home.createLabel">
            Create new Calisan Tipi
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="calisanTipis">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="inventoryApp.calisanTipi.deleted">Deleted</span></th>
            <th><span jhiTranslate="inventoryApp.calisanTipi.version">Version</span></th>
            <th><span jhiTranslate="inventoryApp.calisanTipi.label">Label</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let calisanTipi of calisanTipis ;trackBy: trackId">
                <td><a [routerLink]="['../calisan-tipi', calisanTipi.id ]">{{calisanTipi.id}}</a></td>
                <td>{{calisanTipi.deleted}}</td>
                <td>{{calisanTipi.version}}</td>
                <td>{{calisanTipi.label}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../calisan-tipi', calisanTipi.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'calisan-tipi/'+ calisanTipi.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'calisan-tipi/'+ calisanTipi.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
